- classes
	- structures
		-
	- vehicles (s?)
		- vehicles.components
			-
		- при удалении транспорта откреплять от него все территории
		- при деактивации тренспорта откреплять от него все территории
		- 
	- objects
		- 
	- areas
		- отладить процесс удаления территории со стримером
		- нужно ли вызывать событие "выхода из территории игрока" при удалении территории, при отключении игрока от сервера?
			- нет
	- poligons
		- 
	- players
		- 
	- chat
		-
	- terrains
		-