vehicle.respawn() - функци€, возвращающа€ транспорт на позциции дл€ спавна
	- удал€ет физический транспорт

vehicle.update() - функци€, пересоздающа€ транспорт с сохранением всех его параметров
	- пересоздает физический транспорт

vehicle.stream() - функци€, позвол€юща€ застримировать транспорт до возникновени€ событий, способствующих стримингу транспорта
	- 

vehicle.destroy() - функци€, полностью уничтожающа€ транспорт
	-

player.putInVehicle(vehicle, seat = 0)
	-

vehicle.